.header {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    cursor: pointer;
    right: 0;
    background: #0e123e;
}
.body {
    position: absolute;
    top:110px;
    background: white;
    left:0;
    right: 0;
    bottom: 0;
    border-radius: 50px 50px 0px 0px;
    padding: 50px 30px 4px 30px;
}
.backButton {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 20px;
    top: 23px;
}
.backButtonIcon {
    font-size: 40px;
    padding: 0;
    margin: 0;
}
.sectionTitleCont {
    position: absolute;
    top: 5px;
    left: 0;
    align-content: center;
    right: 0;
    text-align: center;
    cursor: pointer;
}
.sectionTitle {
    position: absolute;
    color: white;
    top: 30px;
    left:15px;
    font-size: 30px;
}

/********************************************/
/*374*/
.btn {
    top: 15px;
    background: #fe93d5;
    font-size: 17px;
    width: 123px;
}
.leftBtn {
    position: absolute;
    left: 15px;
    padding-left: 12px;
    border-radius: 30px 0px 0px 0px;
}
.centerBtn {
    position: absolute;
    left: 140px;
    padding-right: 30px;
    border-radius: 0px 0px 0px 0px;
}
.rightBtn {
    position: absolute;
    right: 15px;
    padding-right: 30px;
    border-radius: 0px 40px 0px 0px;
}
.domicilios {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-gap: 5px;
    overflow-y: hidden;
    padding: 15px;
}
.domicilio {
    position: relative;
    height: 140px;
    border-radius: 15px;
    background: #f2a3d4;
    border: #0e123e solid 1px;
}
.store, .type, .payment, .id, .date, .status, .hr1 {
    position: absolute;
}
.id {
    position: absolute;
    font-size: 20px;
    left: 15px;
    top: 3px;
}
.date {
    position: absolute;
    font-size: 14px;
    top: 31px;
    left: 15px;
}
.status {
    right: 15px;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    top: 11px;
}
.CANCELED {
    border: solid red 3px;
}
.DELIVERED {
    border: solid green 3px;
}
.hr1 {
    top: 45px;
    left: 0;
    right: 0;
    background: #0e123e;
}
.store {
    top: 80px;
    left: 15px;
    font-size: 25px;
}
.type {
    top: 70px;
    right: 15px;
    font-size: 20px;
}
.payment {
    bottom: 3px;
    right: 15px;
    font-size: 25px;
}
.value {
    font-size: 18px;
}